<header class="col-12">Eat Da Burgers!</header>
<div class="col-12">
  <img src="/assets/img/burger.png">
</div>
<div class="col-12" id="addArea">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burgAdd">Burger Name:</label>
      <input type="text" id="burgAdd" name="name">
    </div>


    <button type="submit">Add Burger</button>
  </form>
</div>
<div class="col-5">
  <h2>Burgers on the grill!</h2>

  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li>
          <span>{{burger_name}}</span>
          <button type="button" class="eat-me btn btn-success" data-id="{{id}}">
            EAT ME
          </button>
          <button type="button" class="delete-burg btn btn-danger" data-id="{{this.id}}">YUCK!</button>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>
<div class="col-2"></div>
<div class="col-5">
  <h2>Burgers enjoyed</h2>

  <ul>
    {{#each burgers}}
      {{#if devoured}}
        <li>
          <span>{{burger_name}}</span>
          <button type="button" class="delete-burg btn btn-danger" data-id="{{this.id}}">YUCK!</button>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

